{% extends '_layouts/base.html.twig' %}

{% set bodyClass = 'app-connect' %}

{% block body %}
    <main class=" user-connect">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <i class="talk outline icon"></i>
                    <span class="content">
                        Redforma
                    </span>
                </h2>
                <form method="POST" class="ui large form {% if form.vars.errors is not empty %} error {% endif %}" action>
                    <div class="ui noborder segment">
                        <h1>Iniciar Sesión</h1>
                        <div class="ui error message">
                            {% if form.vars.errors is not empty %}
                                <ul>
                                    {{ form_errors(form) }}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                {{ form_widget(form.password) }}
                            </div>
                        </div>
                        <button type="submit" class="ui fluid large green submit button">Conectar</button>
                        <div class="ui lostpassword">
                            <a href="">Olvidé mi contraseña?</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="ui transparent message">
                        Nuevo en el sitio? <a href="{{ path('register') }}">Registrate</a>
                    </div>
            </div>
        </div>
    </main>
{% endblock %}
