{% extends '_layouts/base.html.twig' %}

{% set bodyClass = 'app-connect' %}

{% block body %}
    <main class=" user-connect">
        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui image header">
              <i class="talk outline icon"></i>
              <div class="content">
                Redforma
              </div>
            </h2>
            <form method="POST" class="ui large form {% if form.vars.errors is not empty or not form.vars.valid  %} error {% endif %}" action>
              <div class="ui noborder segment">
                <h1>Registrate</h1>
                <div class="ui error message"></div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form_widget(form.firstName) }}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form_widget(form.lastName) }}
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form_widget(form.email) }}
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      {{ form_widget(form.password.first) }}
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      {{ form_widget(form.password.second) }}
                    </div>
                  </div>
                </div>
                {% if form.vars.errors is not empty or not form.vars.valid %}
                  <div class="ui error message">
                    {{ form_errors(form) }}
                    {{ form_errors(form.password.first) }}
                  </div>
                {% endif %}
                {{ form_end(form) }}

                <button type="submit" class="ui fluid large green submit button">Registrar</button>
                <div class="ui lostpassword">
                    <a href="">Olvidé mi contraseña?</a>
                </div>
              </div>
            </form>

            <div class="ui transparent message">
              Ya tienes una cuenta? <a href="{{ path('login') }}">Inicia Sesión</a>
            </div>
          </div>
        </div>
    </main>
{% endblock %}
