{% extends '_layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Inicio</a></li>
            <li class="active">Empresas</li>
        </ol>
        <h3>Listado de empresas</h3>
        <span>a continuacion se muestran el listado de las empresas que forman parte de <b>Redforma</b></span>
        <hr class="separator">
        {% for company in companies %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/400/200?time={{ company.id }}" alt="...">
                    <div class="caption">
                        <h3>{{ company.name }}</h3>
                        <p>{{ company.prettyCategories }}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Ver incidencias</a>
                            <span>{{ company.numReviews }} Incidencias</span>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# footer #}
    {% include '_partials/footer.html.twig' %}

{% endblock %}